extends layout

block content
  h1 #{title}
  form(method='POST', action='/posts/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text', required)
    #form-group
      label Body:
      textarea.form-control(name='body', required)
    br
    input.btn.btn-primary(type='submit',value='Submit')
